# DSA2101 Project: Global Holidays and travel.
In this project, we want to identify

As usual, we import all the packages and read the data in.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

global_holidays = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2024/2024-12-24/global_holidays.csv')
monthly_passengers = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2024/2024-12-24/monthly_passengers.csv')

In [2]:
global_holidays.head()
global_holidays['Date'] = pd.to_datetime(global_holidays['Date'])
global_holidays['Year'] = global_holidays['Date'].dt.year
global_holidays['Month'] = global_holidays['Date'].dt.month
global_holidays

,ADM_name,ISO3,Date,Name,Type,Year,Month
0,Aruba,ABW,2010-01-01,New Year's Day,Public holiday,2010,1
1,Aruba,ABW,2010-01-25,Betico Croes' Birthday,Public holiday,2010,1
2,Aruba,ABW,2010-02-15,Carnival Monday,Public holiday,2010,2
3,Aruba,ABW,2010-03-18,National Anthem and Flag Day,Public holiday,2010,3
4,Aruba,ABW,2010-04-02,Good Friday,Public holiday,2010,4
...,...,...,...,...,...,...,...
44388,Palestine,PSE,2015-12-24,Prophet's Birthday,Public holiday,2015,12
44389,Palestine,PSE,2016-12-12,Prophet's Birthday,Public holiday,2016,12
44390,Palestine,PSE,2017-12-01,Prophet's Birthday,Public holiday,2017,12
44391,Palestine,PSE,2018-11-21,Prophet's Birthday,Public holiday,2018,11
44392,Palestine,PSE,2019-11-10,Prophet's Birthday,Public holiday,2019,11

In [3]:
monthly_passengers.dropna(inplace = True)
global_holidays.dropna(inplace = True)
monthly_passengers.drop_duplicates(inplace = True)
global_holidays.drop_duplicates(inplace = True)

monthly_passengers

     ISO3  Year  Month    Total  Domestic  International    Total_OS
281   AUS  2014      1   7992.0    4790.0         3202.0   12600.040
282   AUS  2014      2   6697.0    4207.0         2490.0   10731.179
283   AUS  2014      3   7277.0    4745.0         2532.0   11823.253
284   AUS  2014      4   7467.0    4757.0         2710.0   12026.674
285   AUS  2014      5   6977.0    4529.0         2449.0   11312.633
...   ...   ...    ...      ...       ...            ...         ...
7177  USA  2017      8  77563.0   66856.0        10708.0  144966.412
7178  USA  2017      9  65316.0   57405.0         7913.0  123563.734
7179  USA  2017     10  73143.0   64908.0         8235.0  138308.935
7180  USA  2017     11  70018.0   62162.0         7856.0  131553.688
7181  USA  2017     12  70666.0   61577.0         9089.0  132184.624

[2706 rows x 7 columns]

In [6]:
df_clean = monthly_passengers.merge(global_holidays, on = ['ISO3', 'Year', 'Month'], how = 'inner')
df_clean

,ISO3,Year,Month,Total,Domestic,International,Total_OS,ADM_name,Date,Name,Type
0,AUS,2014,1,7992.0,4790.0,3202.0,12600.040,Australia,2014-01-31,Chinese New Year,Observance
1,AUS,2014,1,7992.0,4790.0,3202.0,12600.040,Australia,2014-01-01,New Year's Day,Public holiday
2,AUS,2014,1,7992.0,4790.0,3202.0,12600.040,Australia,2014-01-26,Australia Day,Public holiday
3,AUS,2014,1,7992.0,4790.0,3202.0,12600.040,Australia,2014-01-27,Australia Day observed,Public holiday
4,AUS,2014,2,6697.0,4207.0,2490.0,10731.179,Australia,2014-02-14,Valentine's Day,Observance
...,...,...,...,...,...,...,...,...,...,...,...
5906,USA,2017,12,70666.0,61577.0,9089.0,132184.624,Us,2017-12-17,Pan American Aviation Day,Observance
5907,USA,2017,12,70666.0,61577.0,9089.0,132184.624,Us,2017-12-17,Wright Brothers Day,Observance
5908,USA,2017,12,70666.0,61577.0,9089.0,132184.624,Us,2017-12-26,Kwanzaa (first day),Observance
5909,USA,2017,12,70666.0,61577.0,9089.0,132184.624,Us,2017-12-31,New Year's Eve,Observance
5910,USA,2017,12,70666.0,61577.0,9089.0,132184.624,Us,2017-12-25,Christmas Day,Public holiday